<div class="g-b-banner">
    <ul>
        <li class="u_mr52">
            <p>7X16 <span>小时</span></p>
            <p class="f-pa1   s-d1">全年无休</p>
        </li>
        <li class="u_mr60">
            <p>群体服务</p>
            <p class="f-pa1   s-d1">管理员全程教学</p>
        </li>
        <li class="u_mr72">
            <p>网赚领先者</p>
            <p class="f-pa1   s-d1">行业排名TOP1</p>
        </li>
        <li>
            <p>7年服务经验</p>
            <p class="f-pa1   s-d1">服务超百万客户</p>
        </li>
    </ul>
</div>