<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>重庆彩开奖结果</title>
    <link href="__PUBLIC__/Home/Css/style.css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div class="width_1000">
        <div class="count">
            <div class="firstcount">
                <div class="pic">
                    <img alt="img" src="__PUBLIC__/Home/Images/sscb.png" width="90" height="91"></div>
                <div class="text">
                    <h2>重庆彩</h2>
                    <p>
                        <span>10:00--22:00/十分钟开奖</span><br>
                        <span>22:05--01:55/五分钟开奖</span>
                    </p>
                </div>
            </div>
            <div class="middlecount">
                <div id="cqsscdt"><h2>第<span id="qishu" style="font-size:24px"></span>期开奖号码</h2>
                    <div class="cqssc-nums"></div>
                </div>
            </div>
            <div class="lastcount">
                <h2>￥58优惠大放送！</h2>
                <div id="bottom">
                    <div id="countdown">
                        <span><a target="_blank" href="javascript:jia_qq();">具体咨询QQ:1459123456</a></span><br>
                        <span> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" src="__PUBLIC__/Home/Js/jquery-3.3.1.js" type="text/javascript"></script>
<script src="__PUBLIC__/Home/Js/cqssc.js"></script>
<script language="javascript" type="text/javascript">
    function tzwz() {
        window.location.href = "http://999.999cyl.cn/Register/index/0A8071A69418C031C3C0B1D149B1CE11ABEE378E686F9C71";
    }

    function jia_qq() {
        var sUserAgent = navigator.userAgent.toLowerCase();
        var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
        var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
        var bIsMidp = sUserAgent.match(/midp/i) == "midp";
        var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
        var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
        var bIsAndroid = sUserAgent.match(/android/i) == "android";
        var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
        var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
        if (!(bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM)) {
            popwin = window.location.href = "tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=100001"
        } else {
            popwin = window.location.href = "mqqwpa://im/chat?chat_type=wpa&uin=2498456789&version=1&src_type=web&web_src=oicqzone.com"
        }
    };
</script>
</body>
</html>